<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category   N98
 * @package    N98_Social
 * @author     netz98 new media GmbH
 */
 -->

<config>
    <modules>
        <N98_Social>
            <version>0.0.1</version>
        </N98_Social>
    </modules>
    <frontend>
        <layout>
            <updates>
                <n98social>
                    <file>n98/social.xml</file>
                </n98social>
            </updates>
        </layout>
        <translate>
            <modules>
                <N98_Social>
                    <files>
                        <default>N98_Social.csv</default>
                    </files>
                </N98_Social>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <n98social>
                <class>N98_Social_Block</class>
            </n98social>
        </blocks>
        <helpers>
            <n98social>
            	<class>N98_Social_Helper</class>
            </n98social>
        </helpers>
    </global>
    <default>
        <n98social>
            <facebook>
                <enabled>1</enabled>
            </facebook>
            <twitter>
                <enabled>1</enabled>
            </twitter>
            <gplus>
                <enabled>1</enabled>
            </gplus>
        </n98social>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <n98social>
                                            <title>n98 Social Section</title>
                                        </n98social>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>